In [4]:
students={'name' : 'john cena',
           'class'  :'2nd',
           'roll no' : 21,
           'marks' : 90 }
print(students)

{'name': 'john cena', 'class': '2nd', 'roll no': 21, 'marks': 90}

In [5]:
# 1st method
print(students['name'])
print(students['class'])

john cena
2nd

In [6]:
# 2nd method
print(students.get('name'))
print(students.get('class'))

john cena
2nd

In [7]:

# to add items in a dictionary
students['school']='SKD'
students['Fathers name']='Sam Cena'
print(students)

{'name': 'john cena', 'class': '2nd', 'roll no': 21, 'marks': 90, 'school': 'SKD', 'Fathers name': 'Sam Cena'}

In [8]:
for key in students:
    print(key)

name
class
roll no
marks
school
Fathers name

In [9]:
for k,v in students.items():
    print(f'{k} : {v}')

name : john cena
class : 2nd
roll no : 21
marks : 90
school : SKD
Fathers name : Sam Cena

In [10]:
print(students.keys())
print(students.values())
print(students.items())

dict_keys(['name', 'class', 'roll no', 'marks', 'school', 'Fathers name'])
dict_values(['john cena', '2nd', 21, 90, 'SKD', 'Sam Cena'])
dict_items([('name', 'john cena'), ('class', '2nd'), ('roll no', 21), ('marks', 90), ('school', 'SKD'), ('Fathers name', 'Sam Cena')])

In [11]:
raj_dict={
    'english' : 67,
    'hindi' : 77,
    'maths' : 35,
    'Science' : 75,
    's.st' : 45
}
print(raj_dict)

{'english': 67, 'hindi': 77, 'maths': 35, 'Science': 75, 's.st': 45}

In [15]:
company= {
    'emp001' : {
        'name' : 'john',
        'age' : 25,
        'designation' : 'Team  Leader',
        'Salary' : 32000
    },
    'emp002' : {
        'name' : 'sam',
        'age' : 22,
        'designation' : 'teacher',
        'Salary' : 28000
    },
    'emp003' : {
        'name' : 'aron',
        'age' : 29,
        'designation' : 'Data Analtics',
        'Salary' : 30000
        }
}
print(company)
print(company['emp001']['age'])

{'emp001': {'name': 'john', 'age': 25, 'designation': 'Team  Leader', 'Salary': 32000}, 'emp002': {'name': 'sam', 'age': 22, 'designation': 'teacher', 'Salary': 28000}, 'emp003': {'name': 'aron', 'age': 29, 'designation': 'Data Analtics', 'Salary': 30000}}
25

In [17]:
print(company.keys())
print(company.values())

dict_keys(['emp001', 'emp002', 'emp003'])
dict_values([{'name': 'john', 'age': 25, 'designation': 'Team  Leader', 'Salary': 32000}, {'name': 'sam', 'age': 22, 'designation': 'teacher', 'Salary': 28000}, {'name': 'aron', 'age': 29, 'designation': 'Data Analtics', 'Salary': 30000}])

In [18]:
for k,v in company.items():
    print(f'{k} : {v}')

emp001 : {'name': 'john', 'age': 25, 'designation': 'Team  Leader', 'Salary': 32000}
emp002 : {'name': 'sam', 'age': 22, 'designation': 'teacher', 'Salary': 28000}
emp003 : {'name': 'aron', 'age': 29, 'designation': 'Data Analtics', 'Salary': 30000}