In [6]:
# wap a program
num=[24,25,11,3,41,44,45,96,74,44,51,63,7,]
for i in num:
    if i%2==0:
        print(f{even},{i})
    else :
        print('odd',num)

even [24, 25, 11, 3, 41, 44, 45, 96, 74, 44, 51, 63, 7]
odd [24, 25, 11, 3, 41, 44, 45, 96, 74, 44, 51, 63, 7]
odd [24, 25, 11, 3, 41, 44, 45, 96, 74, 44, 51, 63, 7]
odd [24, 25, 11, 3, 41, 44, 45, 96, 74, 44, 51, 63, 7]
odd [24, 25, 11, 3, 41, 44, 45, 96, 74, 44, 51, 63, 7]
even [24, 25, 11, 3, 41, 44, 45, 96, 74, 44, 51, 63, 7]
odd [24, 25, 11, 3, 41, 44, 45, 96, 74, 44, 51, 63, 7]
even [24, 25, 11, 3, 41, 44, 45, 96, 74, 44, 51, 63, 7]
even [24, 25, 11, 3, 41, 44, 45, 96, 74, 44, 51, 63, 7]
even [24, 25, 11, 3, 41, 44, 45, 96, 74, 44, 51, 63, 7]
odd [24, 25, 11, 3, 41, 44, 45, 96, 74, 44, 51, 63, 7]
odd [24, 25, 11, 3, 41, 44, 45, 96, 74, 44, 51, 63, 7]
odd [24, 25, 11, 3, 41, 44, 45, 96, 74, 44, 51, 63, 7]

In [11]:
num=[24,25,11,3,41,44,45,96,74,44,51,0,63,7]
for i in num:
    if i==0:
        break
    print(i,end=" ")

24 25 11 3 41 44 45 96 74 44 51

In [13]:
students=['Arya','Danish','akash','lokesh','Siddhant','anshuman']
for student in students:
    if student=="lokesh":
        print('lokesh is most talktaktve person in the class')
        break
    print(f"{student} is good student")

Arya is good student
Danish is good student
akash is good student
lokesh is most talktaktve person in the class

In [15]:
a=[2,5,4,6,7,3,6,8,9,4,7,9,0,4,3,7,5]
for i in a:
    if i==8 or i==9:
        continue
    print(i, end=" ")

2 5 4 6 7 3 6 4 7 0 4 3 7 5

In [18]:
x=[1,2,3,None,5,1,None,2,23,None,3,11,2,2,3,None]
for num in x:
    if num is None:
        continue
    print(num,end=" ")

1 2 3 5 1 2 23 3 11 2 2 3

In [20]:
odd_sum=0
for num in x:
    if num is not None and num%2!=0:
        odd_sum+=num
print(odd_sum)

50

In [22]:
names=['john','bob','alice','Mary']
for idx, name in enumerate(names):
    print(f'{idx+1}:{names}')

1:['john', 'bob', 'alice', 'Mary']
2:['john', 'bob', 'alice', 'Mary']
3:['john', 'bob', 'alice', 'Mary']
4:['john', 'bob', 'alice', 'Mary']

In [24]:
x=[2,4,5,7,9,8,4,7,8]
y=[4,5,6,8,7,5,4,7,6]
z=[4,8,9,5,4,7,6,2,4]
for i,j,k in zip(x,y,z):
    print(i*j+k)

12
28
39
61
67
47
22
51
52

In [25]:
movies=['Interseller','The martin','Gravity']
rating=[8,6,8,7,7,6]

for name,star in zip(movies,rating):
    print(f'{name} has a rating {star}游때')

Interseller has a rating 8游때
The martin has a rating 6游때
Gravity has a rating 8游때